ActionBar {
    background-color: #000;
    color: #fff;
}

ActionBar .title {
    orientation: horizontal;
    horizontal-align: center;
}

ActionBar .title  Label {
    font-family: CalibreApp-Light;
    font-size: 26;
    color: #fff;
}

Page {
     background-color: #cecac8;
}

.nav .button-wrapper {
    background-color: #8e8a88;
    orientation: horizontal;
    padding: 0;
}

.nav .button-wrapper .deimeter {
    width: 1;
    height: 45;
    margin-bottom: 1;
    background-color: #fff;
}

.nav .button-wrapper .deimeter Label {
    margin-top: 9;
    width: 1;
    height: 26;
    background-color: #c2bfbd;
}

.nav .button-wrapper Button {
    width: 50%;
    margin: 0;
    height: 45;
    font-size: 13;
    color: #909090;
    background-color: #fff;
    border-radius: 0;
    border : 0 solid black;
    margin-bottom: 1;
}

.nav .button-wrapper Button.selected {
    color: #00615f;
}

.nav .button-wrapper Button.saved {
    background-image: url("res://icon_saved");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20 17;
}

.nav .button-wrapper Button.saved.selected {
    background-image: url("res://icon_saved_selected");
}

.nav .underline-wrapper {
    height: 5;
    width: 100%;
    margin-top: -5;
}

.nav .underline-wrapper .underline {
    height: 5;
    width: 80;
    background-color: #00615f;
}

.offers-list {
    padding: 3 0;
    background-color: #cecac8;
}

.offer-item {
    margin: 3 6;
    background-color: #fff;
}

.offer-item Image {
    width: 100%;
    height: 200;
}

.offer-item .header {
    background-color: #000;
    color: #fff;
    padding: 10;
    font-family: CalibreApp-Semibold;
    height: 50;
}

.offer-item .title {
    padding: 20; 
    font-family: CalibreApp-Light;
    font-size: 26;
}

.side-stack-layout {
    margin-right: 6;
    padding: 30 0;
    background-color: #fff;
}

.menu-item {
    height: 38;
    font-size: 16;
    font-family: CalibreApp-Light;
    background-color: #c2c2c2;
}

.menu-item StackLayout {
    background-color: #fff;
    height: 38;
    padding: 0 25;
    vertical-align: center;
}

.menu-item.selected StackLayout {
    background-color: #efe9e5;
}

.menu-item StackLayout.separator {
    margin-top: 1;
}